body{
  margin: 0;
  background-color: #e4d3cf;
}
nav{
  background-color: #897853;
}
nav:hover{
  opacity: 0.9;
}
.logo-img{
  height: 3rem;
  width:4rem;
}
.navbar-ul{
  margin-right: 0;
  text-align: right;
}
.main{
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: .2rem;
  width: 70vw;
  border-color:#16213e;
    color:#16213e;
}
#qn{
  margin-bottom: 2rem;
}
#question{
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: .2rem;
  width: 70vw;
  border-color:#16213e;
  color:#16213e;
}
.btn{
  background-color: #dbf6e9;
  border-radius: .3rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
    color:#16213e;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

}
.correct_sequence{
  display: inline;
  padding: 0 1rem 1rem 1rem;
}
.footer{
  margin-top: 2rem;
  background-color: #16213e;
  color: #dbf6e9;
  text-align: center;
  overflow: hidden;
 width: 100%;
}
.footer-icon{
  padding:1rem 1rem 0 1rem;
  color: #e4d3cf;
}
.shaswata{
  text-decoration: none;
}
/* media css */
@media (min-width:992px) {
  .navbar-collapse{
    flex-basis: 0;
    flex-grow: 0;
  }
}
